#board{
    z-index: 0;
    background: #6b470f;
}

#chips{
    z-index: 10;
}

#board, #chips{
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -300px;
}

#board table, #chips table{
    width: 100%;
    height: 100%;
    border-spacing: 0;
    padding: 20px;
}

#board table td{
    border: solid 10px #6b470f;
    border-radius: 100%;
    /*box-shadow: inset 0 0 40px #000;*/
}

#card .color{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: solid 1px #999;
}

#card .number{
    width: 200px;
    height: 50px;
}

button{
    width: 100px;
    height: 100px;
    margin: 50px;
    font-size: 14px;
}